*{
  box-sizing:border-box;
}

html{
  font-family: sans-serif;
  color:white;
}

body{
  margin:0;
}

/* SECTION HEADER */
.header__menu{
  background-color: #bbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__titrepage{
  text-transform: uppercase;
}




/* SECTION GARDE */
.garde__formcontainer{
  background-image: url('asset/background.jpg');
  background-color: grey;
}

form{
  width:50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__inputs{
  display:flex;
  justify-content: space-around;
}

.form__gauche{
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.garde__formcontainer button{
  width:15%;
}
